@import "partials/mixins";
@import "partials/variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $neutral_off_white;
}

main {
  width: 325px;
  margin: auto;
  padding: 35px 20px;
  background-color: $neutral_white;
  border-radius: 20px 20px 100px 20px;
  transition: width 0.2s ease-in;
  overflow: hidden;
  box-shadow: 5px 5px 25px rgba(20, 20, 20, 0.092);

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 55px;
    margin-bottom: 45px;
    border-bottom: 1px solid $neutral_light_grey;
    position: relative;

    label,
    input {
      display: block;
      cursor: pointer;
    }

    label {
      @include labelStyle;
    }

    input {
      @include inputStyle;
    }

    @keyframes imageAnimation {
      from {
        box-shadow: 0px 0px 2px hsl(259, 100%, 65%);
      }
      to {
        box-shadow: 0px 0px 15px hsl(259, 100%, 65%);
      }
    }

    @keyframes imageAnimationBlack {
      from {
        box-shadow: 0px 0px 2px $neutral_off_black;
      }
      to {
        box-shadow: 0px 0px 15px $neutral_off_black;
      }
    }

    img {
      @include imgStyle;
      transition: all 0.2s linear;
      animation-name: imageAnimation;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  .result-section {
    .result-container {
      @include resultStyle;
    }
  }
}

@media only screen and (max-width: 375px) {
  body {
    padding: 0 10px;

    .result-container {
      font-size: 35px !important;
    }
  }
}

@media only screen and (min-width: 600px) {
  main {
    width: 500px;
    margin: 0;
    padding: 35px 40px;
    transition: width 0.2s ease-in-out;

    form {
      justify-content: flex-start;
      gap: 20px;
      padding-bottom: 30px;
      margin-bottom: 20px;

      input {
        max-width: 100px;
        transition: all 0.2s linear;
      }

      img {
        bottom: -28px;
        right: 0;
        left: auto;
        transform: none;
        transition: all 0.2s linear;
      }
    }

    .result-section {
      .result-container {
        font-size: 55px;
        transition: font-size 0.2s linear;
      }
    }
  }
}

@media only screen and (orientation: landscape) {
  body {
    padding: 50px 0;
  }
}
